    /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    
    @import "bootstrap";
    @import "bootstrap-sprockets";
    .pretty th .current {
        padding-right: 12px;
        background-repeat: no-repeat;
        background-position: right center;
    }
    
    .pretty th .asc {
        background-image: url(/images/up_arrow.gif);
    }
    
    .pretty th .desc {
        background-image: url(/images/down_arrow.gif);
    }
    
    $font-stack: Times,
    sans-serif;
    $table-color: #00FA9A;
    body {
        height: 100%;
        text-align: center;
    }
    
    header.header {
        background-color: #A0A0A0;
        position: fixed-relative;
        width: 100%;
        height: 100px;
        padding: none;
        .left {
            font-size: 50px;
            font-weight: bold;
            font-family: Palatino, serif;
            text-align: left;
            margin-left: 60px;
            margin-top: 10px;
        }
        .middle {
            font-size: 15px;
            font-weight: normal;
            text-align: right;
            padding-top: 30px;
        }
    }
    
    .page-wrap {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: -100px;
        :after {
            content: "";
            display: inline;
        }
    }
    
    table.table {
        text-align: left;
        padding: 50px;
        border-spacing: 0px 10px;
        tr.title {
            background-color: $table-color;
        }
        tbody tr:nth-child(even) {
            background-color: #E0E0E0;
        }
    }
    
    a {
        color: black;
        font: $font-stack;
    }
    
    footer {
        text-align: right;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        position: fixed-relative;
    }