// Place all the styles related to the expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-stack: Times,
sans-serif;
$primary-color: #FFFFFF;
body {
    height: 100%;
    background-color: #000000;
    text-align: center;
    color: $primary-color;
    padding: 10px;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -100px;
    :after {
        content: "";
        display: inline;
    }
}

header {
    padding: 10px;
    font: $font-stack;
    font-size: 20px;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    h1 {
        font-size: 35px;
        font-weight: bold;
        font-family: Palatino, serif;
    }
}

table.center {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px 10px;
    tbody tr:nth-child(even) {
        background-color: #A9A9A9;
    }
}

a {
    color: $primary-color;
    font: 100% $font-stack;
}

.site-footer {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}